services:
  maple-postgres:
    build:
      context: .
      dockerfile: postgres.Dockerfile
    container_name: maple-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: maple
    volumes:
      - maple-postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql # DB 자동 생성 스크립트 추가
    ports:
      - "5432:5432"
    networks: market-internal

  maple-core:
    container_name: maple-core
    depends_on:
      - maple-postgres
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - maple-core-data:/storage
    command:
      - ./maple
    env_file:
      - .env
    ports:
      - "6568:6568"
    networks:
      - market-internal

volumes:
  maple-core-data:
    external: true
  maple-postgres-data:
    external: true

networks:
  market-internal:
    external: true
